

table, th, td, tr {
    border-image-repeat: repeat;
border: 1px solid black;
padding: 70px;
size: 150px;
}




  
  li a:hover {
    background-color: #111;
  }
 

  body {
    background: radial-gradient(ellipse at top, #1b2735 0%, #ffffff 100%);
  
    overflow: hidden;
    display: flex;
    font-family: 'Anton', sans-serif;
    justify-content: center;
    
    
  }


  
  li a {
    color: #666;
  }

  #bio, .bio {
    position: bottom;
    border: 1px transparent #00ccff;

    margin-top: 43%;
    
   
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: bottom,;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  p {

    margin top: 25px;
  }

  

  
